{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<h1>Liste des joueurs</h1>
<div class="grid">
    {% for player in players %}
        <div class="card">
            <img src="{{ player.photo ?? 'https://via.placeholder.com/150' }}" alt="">
            <h3>{{ player.prenom }} {{ player.nom }}</h3>
            <p>Catégorie : {{cat.nom}}</p>
            <p>Note moyenne : {{ averages[player.id]|default('Aucune')|round(1) }}/5</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
